# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
*.tfvars

# Kubeconfig written by Terraform — contains cluster credentials
.kube-*.yaml
 
# Next.js
nextjs-app/node_modules/
nextjs-app/.next/
nextjs-app/.env*
 
# OS
.DS_Store
Thumbs.db
 